/* Div CSS */

body{
  background-color: lightblue;
  text-align: center;
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.navbar{
  background-color: slategray;
  color : #000000;
}
.navbar-link{
    color :#000000;
}


.container #errorCode{
  background-color:red;
  font-size:18px;
  
}

.full{
  width:100%;
  margin : auto;
}

/* Table CSS */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#row{
  background-color: #dddddd;
}

/*tr:nth-child(even) {
    background-color: #dddddd;
}*/
 

.container{
    min-width : 90%;
    margin : auto;
    padding-top : 80px;
}




.connexion{
    padding-top: 100px;
    font-family         : arial, sans-serif;
    color               : whitesmoke;
    text-align: center;
    min-width: 100%;
    min-height: 30em;
}


.input{
    padding-top: 3rem;
    padding-bottom: 3rem;
    height                      :300px;
    width                       :300px;
    background                  : rgba(18,31,31,0.9);
    -moz-border-radius          : 400px;
    -webkit-border-radius       : 400px;
    border-radius               : 400px;
    border                      : 3px inset #fefefe;
    margin : auto;
    
    
}


.alert{
    max-width : 50%;
    max-height : 1000px;
    margin : auto;
    margin-bottom : 60px;
}

#getTournForm{
    color : black;
    text-align : center;
}

#create_account{
    color : black;

}














